{% import "macro.html" as macro %}

<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
      <title>{% block title %}{{ config.title }}{% endblock title %}</title>     
      <link rel="stylesheet" href="{{ get_url(path="main.css") | safe }}">
    </head>

    <body>
 


        <nav>

          <div class="logo">
          <img src="{{ get_url(path="images/logo.png")}}">

          <br />
          <div id="submenu">
            <a href="/infoportal">Über uns</a> | <a href="/infoportal/impressum">Impressum</a> | 
            <a href="/infoportal/search">Suche</a>    
          </div>
        {% block nav %}
          <!--
          <ul id="breadcrumbs">
            {% for tax in config.taxonomies %}
              <li>/<a href="/{{tax.name}}/">{{tax.name}}</a>&nbsp;</li> 
            {% endfor %}
          </ul>
        -->
          
            {{ macro::tree() }}
        {% endblock nav %}
        
        </nav>
        <div id="placeholder"></div>


        <main>

          <div id="content">

          {% block content %}

            {% set_global header_count = 0 %}
            {% for h2 in section.toc %}
              {% set_global header_count = header_count + 1 %}
              {% for h3 in h2.children %}
                {% set_global header_count = header_count + 1 %}
                {% for h4 in h3.children %}
                  {% set_global header_count = header_count + 1 %}
                {% endfor %}
              {% endfor %}
            {% endfor %}

            {% if header_count > 4 %}
              <hr id="sep" />
                <ul id="toc">
                  {% for h2 in section.toc %}
                    <li><a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                    {% if h2.children %}<ul>        
                      {% for h3 in h2.children %}
                      <li><a href="{{ h3.permalink | safe }}">{{ h3.title }}</a></li>
                    {% endfor %}
                  </ul>
            {% endif %}
                  </li>
            {% endfor %}
                </ul>
                <hr id="sep" />
            {% endif %}


            <article>
            {{ section.content | safe }}
            </article>
          {% endblock content %}

          </div>
        </main>

 

 
      <footer>
        <div>
          <a href="https://creativecommons.org/share-your-work/public-domain/cc0/"><img src="https://licensebuttons.net/p/zero/1.0/88x31.png" alt="CC-0" /></a><br />
          <a href="https://getzola.org">Build with Zola</a> | 
          <a href="https://github.com/codeandmedia/zola_docsascode_theme">Theme based on docsacode-theme</a> |
          <a href="https://github.com/kompetenzwerkd/kompetenzwerkd.github.io">Source code</a> 
        </div>
         
      </footer>

    </body>
</html>
