{% extends "index.html" %}

{% block nav %}
    <ul id="breadcrumbs">
        {% set s = get_section(path="_index.md") %}
        <li><a href="/infoportal">{{ s.title }}</a>&nbsp;&#8594;&nbsp;</li>
        <li><h4>{{ section.title }}</h4></li>
    </ul>

    <ul>
        {% for page in paginator.pages %}
        <li>
            <a href="{{ page.permalink }}">{{ page.date}} | {{ page.title }}</a>
        </li>
        {% endfor %}
    </ul>

    <div class="blog-post-nav">
        {% if paginator.previous -%} 
        <div><a href="{{ paginator.previous }}"><< Neuere Beiträge</a></div>
        {%- endif %}
        {% if paginator.next -%}
        <div><a href="{{ paginator.next }}">>> Ältere Beiträge</a></div>
        {%- endif %}

    </div>

{% endblock nav %}

{% block content %}

<article class="c-article p-list-article"></article>
{% for page in paginator.pages %}

    <div class="blog-index-summary" >
        {{ page.date }}
        <h2 class="blog-index-title"><a href="{{ page.permalink }}">{{ page.title }}</a></h2>

        <div class="c-article__summary">
            {% if page.summary -%}
            {{ page.summary | safe }}
            {% else %}
            {{ page.description | safe }}
            {%- endif %}
        </div>
        <a href="{{ page.permalink }}" class="blog-index-read-more">Weiterlesen ...</a>
    </div>
{% endfor %}


</article>
{% endblock content %}



