{% extends "index.html" %}

{% block nav %}
<ul id="breadcrumbs">
    {% for parent in section.ancestors %}
        {% set s = get_section(path=parent, include_pages=false) %}
            <li><a href="{{s.permalink}}">{{s.title}}</a>&nbsp;&#8594;&nbsp; </li>
        {% endfor %}
    <li><h4>{{ section.title }}</h4></li>
</ul>

{{ macro::tree() }} 


{% endblock nav %}


{% block content %}
    <article>

        <h1>Projekte</h1>


        <div>
            <h2> Aktuelle Projekte</h2>

            {% for page in section.pages %}

            {% if page.extra.category == "current" and page.extra.show_in_overview %} 
            <a href="{{ page.permalink }}">
                <div class="project">
                    <div class="projectHeader">
                        {{ page.extra.meta }}
                    </div>
                    <div class="projectImage" style="background-image: url('{{page.extra.img}}');background-repeat: no-repeat; background-position: center; height:150px;"> </div>                
                    <div class="projectBody">
                        {{page.extra.full_title}}
                    </div>
                </div>  
            </a>
            {% endif %}
        
            {% endfor %}
        </div>

        <div style="clear: both"></div>
        <div style="margin-top: 3em;">
            <h2> Abgeschlossene Projekte</h2>
            

            {% for page in section.pages %}

            {% if page.extra.category == "completed" and page.extra.show_in_overview %} 
            <a href="{{ page.permalink }}">
                <div class="project">
                    <div class="projectHeader">
                        {{ page.extra.meta }}
                    </div>
                    <div class="projectImage" style="background-image: url('{{page.extra.img}}');background-repeat: no-repeat; background-position: center; height:150px;"> </div>                
                    <div class="projectBody">
                        {{page.extra.full_title}}
                    </div>
                </div>  
            </a>
            {% endif %}
        
            {% endfor %}
        
        {{ section.content | safe }}
    </article>
{% endblock content %}



